body {
    font-family:
    "M PLUS Rounded 1c",
    'Noto Sans JP',
    sans-serif !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}